TZ=Asia/Ho_Chi_Minh

SERVER_IP=nro.luminostech.tech
SERVER_PORT=14445
SERVER_NAME=Teamobi
SERVER_SV=1
SERVER_WAITLOGIN=3
SERVER_MAXPERIP=999
SERVER_MAXPLAYER=1000
SERVER_EXPSERVER=3

DB_NAME=nro
DB_USER=nro
DB_PASSWORD=change_this_db_password
DB_ROOT_PASSWORD=change_this_root_password
DB_MIN=1
DB_MAX=5
WEB_PORT=6009
APP_DOMAIN=http://127.0.0.1:6009/
